/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .d-flex {
    display: flex;
  }
  
  .vh-100 {
    height: 100vh;
  }
  
  .bg-primary {
    background-color: #28246cab;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  /* Container styling */
  .w-100 {
    width: 100%;
  }
  
  .rounded {
    border-radius: 5px;
  }
  
  .p-3 {
    padding: 1rem;
  }
  
  .bg-white {
    background-color: white;
  }
  
  /* Table styling */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: .25rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  /* Button styling */
  .btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-update {
    background-color: #28a745;
    color: white;
    border-radius: 3px;
    font-size: medium;
    padding: 0.5rem 1rem;
    
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
    
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
  }

.btn-success {
    background-color: #2aa728;
    color: white;
    border-radius: 3px;
    padding: 5px 10px; 
    position:relative;
    top: -60px;
    left: -60px;
}

  .btn-update {
    margin-right: 40px;
}